apiVersion: v1
kind: Service
metadata:
  name: {{ include "microservice.serviceName" . }}
  labels:
    {{- include "microservice.metadataLabels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "microservice.selectorLabels" . | nindent 4 }}
